@font-face {
    font-family: 'londonboutique';
    src: url(../fonts/LondonBoutique_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: 'GREENSHEEP';
    src: url(../fonts/A\ Love\ of\ Thunder.ttf);
}

@font-face {
    font-family: 'weed';
    src: url(../fonts/WEEDFACE\ new.ttf);
}

@font-face {
    font-family: 'newake';
    src: url(../fonts/NewakeFont-Demo.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
