@media screen and (max-width: 768px) {

  // FOOTER
  footer {
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo-footer nuevo-socio" "redes redes";

    .redes {
      grid-area: redes;
      margin-right: 0px;

      .link-redes {
        justify-content: space-around;
        width: 100%;
        padding-bottom: 5px;
      }

      h3 {
        display: none;
      }
    }

    .logo-footer {
      grid-area: logo-footer;
      display: flex;
      padding-right: 60px;
      margin-right: 0;
      margin-left: 40px;
      padding-top: 10px;

      img {
        height: 75px;
      }
    }

    .nuevo-socio {
      grid-area: nuevo-socio;
      display: flex;

      padding-top: 10px;
    }
  }

  // NAVBAR
  nav {
    .navbar-brand img {
      height: 40px;
    }
  }

  // ELCLUB
  .main1-club {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
    }
  }

  .mapas {
    iframe {
      width: 90vw;
    }

    .linkmapas {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }

  //  INICIO
  .main-inicio img {
    height: 200px;
  }

  // URUGUAYLEGAL
  .normativa iframe {
    width: 90vw;
  }

  // CONTACTO
  .correo {
    width: 70vw;
  }

  .rango {
    padding: 5px 50px 5px 50px;
  }
}